<div id="game-success" class="flexCenter flexColumn page">
  <div class="success-message">
    <p>Congratulations!  You really know your ABC's!</p>
  </div>
  <a href="/" class="return-home-link">Click here to return to the home page and play again!</a>
</div>

<style>
  #game-success {
    background-color: orange;
  }

  .success-message,
  .return-home-link {
    font-size: 3em;
    font-weight: bold;
    width: 80%;
    text-align: center;
  }

  .return-home-link {
    color: blue;
    text-decoration: none;
  }
</style>