<div class="flexCenter flexColumn page">
  <div class="welcome flexCenter flexColumn">
    <div>
      <h3>Welcome!  To start, please choose an option</h3>
    </div>
    <div class="options flexCenter flexColumn">
      <button ng-click="startGame('abc')">Play Alphabetically</button>
      <button ng-click="startGame('cba')">Play in reverse</button>
      <button ng-click="startGame('cab')">Play in random</button>
    </div>
  </div>
</div>

<style>
  .welcome {
    background-color: lightblue;
    width: 90%;
  }

  .options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .options button {
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    height: 50px;
    width: 200px;
    margin-bottom: 10px;
  }
</style>