<div id="animalDisplay" class="flexCenter">
  <div class="animalInnerDisplay flexCenter flexColumn">
    <h1>{{ showCurrentAnimal.name }}</h1>
    <img ng-src="{{ showCurrentAnimal.img }}" alt="photo of {{ showCurrentAnimal.name }}">
  </div>
</div>

<style>
  #animalDisplay {
    border: 3px solid black;
    min-height: 400px;
    min-width: 300px;
  }

  .animalInnerDisplay {
    background-color: lightgreen;
    height: 380px;
    width: 280px;
  }

  .animalInnerDisplay img {
    height: 250px;
    width: 100%;
  }


</style>