<div id="solvedDisplay" class="flexCenter flexColumn">
  <div><h3>Solved</h3></div>
  <div class="solvedLettersContainer flexColumn">
    <div ng-repeat="letter in solvedLetters" class="letter">
      <div class="innerLetter">
        {{ letter }}
      </div>
    </div>
  </div>
</div>

<style>
  #solvedDisplay {
    background-color: lightblue;
    height: 80vh;
    width: 100%;

  }

  .solvedLettersContainer {
    display: flex;
    align-items: center;
    border: 1px solid black;
    height: 80%;
    width: 70%;
    overflow: scroll;
  }

  .letter {
    height: 50px;
    width: 80%;
  }

  .innerLetter {
    border: 1px solid black;
    text-align: center;
    margin: 5px;
    font-size: 1.5em;
    font-weight: bold;
  }
</style>